In [ ]:
import folium
import pandas as pd

In [ ]:
data = pd.read_csv('korea_charger.csv', encoding='cp949')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data.head()

       STAT_NM   STAT_ID  CHGER_ID  ...          LIMIT_DETAIL DEL_YN  DEL_DETAIL
0     종묘 공영주차장  ME000001         1  ...                   NaN      N         NaN
1    세종로 공영주차장  ME000002         1  ...                   NaN      N         NaN
2   그랜드앰배서더 서울  ME000003         1  ...                   NaN      N         NaN
3   한강진역 공영주차장  ME000004         1  ...                   NaN      N         NaN
4  기아차 성동서비스센터  ME000005         1  ...  20190626 공사로 인한 임시철거      N         NaN

[5 rows x 21 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69290 entries, 0 to 69289
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STAT_NM          69290 non-null  object
 1   STAT_ID          69290 non-null  object
 2   CHGER_ID         69290 non-null  int64
 3   CHGER_TYPE       69290 non-null  int64
 4   ADDR             69195 non-null  object
 5   LAT              69290 non-null  float64
 6   LON              69290 non-null  float64
 7   USE_TIME         61477 non-null  object
 8   BUSI_ID          69290 non-null  object
 9   BUSI_NM          69290 non-null  object
 10  BUSI_CALL        64306 non-null  object
 11  CHGER_STAT       69290 non-null  int64
 12  STAT_UPD_DT      67696 non-null  float64
 13  POWER_TYPE       4375 non-null   object
 14  CITY_DO_CD       69290 non-null  int64
 15  PARKING_FREE_YN  68684 non-null  object
 16  STAT_NOTE        9689 non-null   object
 17  LIMIT_YN         69290 non-null  object
 18  LIMIT_DETAIL     32579 non-null  object
 19  DEL_YN           69290 non-null  object
 20  DEL_DETAIL       2 non-null      object
dtypes: float64(3), int64(4), object(14)
memory usage: 11.1+ MB

In [ ]:
data.columns

Index(['STAT_NM', 'STAT_ID', 'CHGER_ID', 'CHGER_TYPE', 'ADDR', 'LAT', 'LON',
       'USE_TIME', 'BUSI_ID', 'BUSI_NM', 'BUSI_CALL', 'CHGER_STAT',
       'STAT_UPD_DT', 'POWER_TYPE', 'CITY_DO_CD', 'PARKING_FREE_YN',
       'STAT_NOTE', 'LIMIT_YN', 'LIMIT_DETAIL', 'DEL_YN', 'DEL_DETAIL'],
      dtype='object')

In [ ]:
data['LAT'][13], data['LON']

(37.60047527, 0        126.995880
 1        126.976011
 2        127.002350
 3        127.002804
 4        127.064226
             ...
 69285    129.068415
 69286    129.125781
 69287    129.364458
 69288    129.364458
 69289    128.631878
 Name: LON, Length: 69290, dtype: float64)

In [ ]:
data.dropna(subset=['LAT'],inplace=True)
data.dropna(subset=['LON'],inplace=True)
data.isnull().sum()

STAT_NM                0
STAT_ID                0
CHGER_ID               0
CHGER_TYPE             0
ADDR                  95
LAT                    0
LON                    0
USE_TIME            7813
BUSI_ID                0
BUSI_NM                0
BUSI_CALL           4984
CHGER_STAT             0
STAT_UPD_DT         1594
POWER_TYPE         64915
CITY_DO_CD             0
PARKING_FREE_YN      606
STAT_NOTE          59601
LIMIT_YN               0
LIMIT_DETAIL       36711
DEL_YN                 0
DEL_DETAIL         69288
dtype: int64

In [ ]:
idx_nm_1 = data[data['LON'] == 124].index
data = data.drop(idx_nm_1)

In [ ]:
from folium import plugins
loc = folium.Map(location = [36.581753, 127.861757],
                zoom_start=10)
des = data['STAT_NM']

In [ ]:
dat_p1 = list( data['LAT'] )
dat_p2 = list( data['LON'] )
dat_xy = list(zip(dat_p1, dat_p2))

In [ ]:
m = folium.Map(location=[36.581753, 127.861757], zoom_start=7)
plugins.MarkerCluster(dat_xy, popups = des).add_to(m)
m

In [ ]:
m.save("korea_charger.html")     
m